{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
	"endOfLine": "auto",
	"vueIndentScriptAndStyle": true
}
